@import url("https://themes.googleusercontent.com/fonts/css?kit=diggKPcUerIA8GQWRVxsVbB2QxOqfccBXgTfU8RrI3xmHNcgyV_MOTrbbbo0wulwtmD-Wc7tPgd1ASAvSgsRsoB1TfHGM16t7erdBeJRm4Y");
ol {
    margin: 0;
    padding: 0;
}
table td,
table th {
    padding: 0;
}
body {
    margin: 0;
    align-content: center;
}
.c0 {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 1.4em;
    font-family: "Cormorant";
    font-style: normal;
}
.c11 {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 1.6em;
    font-family: "Cormorant";
    font-style: normal;
}
.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 1.6em;
    font-family: "Cormorant";
    font-style: normal;
}
.c4 {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 2em;
    font-family: "Cormorant";
    font-style: normal;
}
.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c1 {
    padding-top: 1em;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c27 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
}
.c10 {
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c26 {
    padding-top: 0pt;
    padding-bottom: 1em;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c18 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: center;
}
.c9 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: italic;
}
.c14 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}
.c5 {
    font-size: 2em;
    font-family: "Cormorant";
    font-style: italic;
    font-weight: 400;
}
.c20 {
    font-weight: 400;
    font-size: 1.1em;
    font-family: "Arial";
}
.c19 {
    font-size: 2em;
    font-family: "Cormorant";
    font-weight: 600;
}
.c13 {
    font-size: 2em;
    font-family: "Cormorant";
    font-weight: 400;
}
.c22 {
    background-color: #ffffff;
    padding: 48pt;
}
.c12 {
    font-size: 2em;
    font-family: "Cormorant";
    font-weight: 500;
}
.c6 {
    font-size: 1.4em;
    font-family: "Cormorant";
    font-weight: 600;
}
.c16 {
    font-size: 1.4em;
    font-family: "Cormorant";
    font-weight: 500;
}
.c23 {
    font-weight: 700;
    font-size: 3em;
    font-family: "Cormorant";
}
.c8 {
    font-size: 1.1em;
    font-family: "Cormorant";
    font-weight: 400;
}
.c25 {
    font-size: 2em;
    font-family: "Cormorant";
    font-weight: 300;
}
.c24 {
    font-size: 1.4em;
    font-family: "Cormorant";
    font-weight: 700;
}
.c21 {
    font-weight: 700;
    font-size: 1.1em;
    font-family: "Cormorant";
}
.c17 {
    color: inherit;
    text-decoration: inherit;
}
.c15 {
    font-style: italic;
}
.c7 {
    height: 1.1em;
}